<div class="example-container">
  <mat-progress-spinner *ngIf="isProcessing" class="example-margin" [color]="'primary'" [mode]="'indeterminate'" [value]="'50'">
  </mat-progress-spinner>
  <form [formGroup]="registerForm" (ngSubmit)="sendEmailLink()" *ngIf="!emailSent && !isProcessing">
    <mat-card>
      <mat-card-title>
        <h5 class="mat-h2" [innerHTML]="errorMessage"></h5>
      </mat-card-title>
      <mat-form-field *ngIf="!showLogin">
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field *ngIf="!showLogin">
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <mat-checkbox *ngIf="!showLogin" formControlName="newsSubscription">Send me product news and updates</mat-checkbox><br />
      <button mat-raised-button type="submit" color="primary">{{showLogin ? 'Continue' : 'Signup'}}</button>
      <br />
      <h5 *ngIf="duplicateEmailError">Looks like that email is in use. Do you want to login instead?</h5>
      <a routerLink="/login" *ngIf="duplicateEmailError">Login</a>
    </mat-card>
  </form>

  <mat-card *ngIf="emailSent && !showLogin && !isProcessing">
    <mat-card-title>
      Done!
    </mat-card-title>
    <mat-card-content>
      <p>Please check your email for verification link</p>
      <p>Don't see an email?
        <a href="javascript:void(0);" (click)="resendEmailLink()">Resend</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>